*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
     /* background-color: rgb(0, 0, 0); */
   background-color: rgb(0, 0, 0);
   background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20240209/pngtree-rain-drops-on-glass-reflection-photo-image_3099868.jpg );
  
   opacity: 0.95;
}
.main{
    float: left;
   
    
}
h2{
    margin-left: 235px;
    margin-top: 10px;
    color: white;
}






img{
    width: 400px;
    height: 400px;
   
  
    
    margin-top: 90px;
    margin-left: 70px;
    border-radius: 30px;
    transition: 1s;
    border: 5px solid rgb(0, 0, 0);
}
img:hover{
    opacity: 0.6;
    border-radius: 80px;
    width: 450px;
    height:450px;
    filter:drop-shadow(10px 7px 20px rgb(179, 9, 9));
    transition: 1s;
   
}
.container{
   
   

    width: fit-content;
    
    border-radius: 30px;
   
    margin-left: 500px;
    padding: 10px;
   

}
h1{
     background-color: rgb(223, 9, 9);
     border-radius: 10px;
     margin-bottom: 7px;
    
    color: white;
    
   
    
    
    text-align: center;
    
}
h1:hover{
    background-color: rgb(151, 2, 131);
}
form{
    
    background-color: rgb(0, 0, 0);
    height: fit-content;
    border: 2px solid white;
    border-radius: 50px;
  
    padding: 40px;
    width:520px;
    color: black;
    
    margin-bottom: 20px;
    margin-left: 150px;
    
    
   
   
}
input[type="text"],
input[type="password"],[type="number"]

{   
    width:400px;
    padding:10px;
    margin:5px 0;
    border-radius: 10px;
    font-size:16px;
    border: 2px rgb(66, 57, 57) solid;
    
}
input:hover{
    background-color: rgb(52, 53, 53);
}
label{
    margin-right: 100px;
    color: rgb(255, 255, 255);
    
}

.buttonone{
  
    padding: 10px 10px;
    margin: 10px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100px;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 10px;
    transition: 0.5s;
  
}
.buttonone:hover{
    background-color: green;
}

.buttontwo{  padding: 10px 10px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100px;
    border: 2px solid red;
    border-radius: 10px;


}
.buttontwo:hover{
    background-color: red;
}
    
    

.error-message{
    color:red;
padding: 5px;
}

  
    
   
          
           
           
        
        


    
        
    
